html {
  background-color: rgb(144, 255, 144);
  background-image: url("../image/background.png")
}
footer {
  text-align: center;
}
html.volatile-bg {
  background-color: lightgray;
  background-image: none;
}
.comment {
  border: 1px black solid;
  margin: 4px 0px;
  padding: 2px;
  border-radius: 6px;
  background: palegreen;
}
.comment-text {
  margin-left: 2em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}
.comment > .myicon {
  margin-right: 2px;
}
.comment > .floor {
  margin-right: 10px;
}
span.space {
  margin-left: 30px;
}
.myicon {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.need-width {
  display: inline-block;
  min-width: 50px;
}
textarea {
  width: 100%;
  height: 60px;
  max-width: 600px;
}
